# Игнорировать файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# База данных SQLite
*.sqlite3

# Игнорировать файлы, связанные с окружением
.env

# Файлы кеша и логов
*.log
*.pot
*.pyc

# Игнорировать build и dist папки
build/
dist/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы, сгенерированные при деплое (например, на Firebase)
.firebase/
